body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-repeat: no-repeat;
    background-size: cover;
  }


  #header {
    background-color: #333;
    color: rgb(133, 68, 68);
    padding: 20px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #header h1 {
    margin: 0;

  }

  #main {
    margin: auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("https://images.unsplash.com/photo-1554158577-dd684bc228fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0NzU3MTk3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #locationInput {
    padding: 10px;
    font-size: 16px;
    color: rgb(18, 19, 19);
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 70%;
    background-color: #f8d7d7;
  }
  #locationInput:hover{
    background-color: rgb(71, 114, 114);
  }

  #weatherData {
    display:none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-image: url("https://images.unsplash.com/photo-1529126894674-8dd7cb884766?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNsZWFyJTIwc2t5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px #ccc;

  }

  #weatherData h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }

  #weatherData img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
   
  }

  #weatherData p {
    margin: 10px 0px;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(148, 7, 35);
    
  }

  #getWeatherButton {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #2d5192;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
  }

  #getWeatherButton:hover {
    background-color: #57742a;
  }
